body {
    margin: 0;
    display: flex;
    /* container 수평 정렬 */
    justify-content: center;
    /* container 수직 정렬 */
    align-items: center;
    height: 100vh;
}

.container {
    height: 650px;
    width: 450px;
    background-color: beige;
    text-align: center; /* 안에 요소 수평 정렬 */
    flex-direction: column;
    /* display: flex; */
}

.content {
    /* flex: 1; */
    height: 520.125px;
    border: 1px solid black;
}

.button-container {
    height: 40px;
    border: 1px solid black;
    /* 수평 정렬 */
    display: flex;
    justify-content: center;
}

/* 원래 .container{display: flex}랑  .content{flex:1}로 해가지고 */
/* 남는 공간을 content로 꽉 채우도록 했는데.... */
/* 2023, 2024.. 컨테이너들이 처음에 display:none으로 되어 있어서 */
/* 그게 영향을 미쳐서 intro말고는 flex가 기능을 못해가지고 */
/* 일단은 주석처리하고 height를 520.125(처음에 자동으로 꽉 채워줬을 때 높이)px로 */
/* 해줬습ㄴ디ㅏ....ㅠㅠ */