body {
    margin: 0;
    display: flex;
    /* container 수평 정렬 */
    justify-content: center;
    /* container 수직 정렬 */
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Noto Sans KR', sans-serif;
}

.container h1 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #dd991a; /* 글자 색을 원하는 색상으로 변경 (예: 검은색) */
    /* 추가적인 스타일링 가능 */
}

.container {
    height: 650px;
    width: 450px;
    background-color: #ffda96;
    border: 3px solid #ffe5b4;
    text-align: center; /* 안에 요소 수평 정렬 */
    flex-direction: column;
    display: flex;
    border-radius: 8px;
}

.content {
    flex: 1;
    border-radius: 8px;
    margin: 20px;
    border: 3px solid #ffe5b4;;
    background-color: #ffffff;
}

.button-container {
    height: 40px;
    border: 3px solid #ffacba;
    /* 수평 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcc5ce;
    padding-right: 10px;
}

.next-button {
    background-color: #e76da0; /* 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 기본 버튼 테두리 제거 */
    padding: 8px 16px; /* 보다 나은 외관을 위한 패딩 추가 */
    border-radius: 4px; /* 둥근 모서리 */
    cursor: pointer; /* 호버 시 포인터 커서 추가 */
    transition: background-color 0.3s ease; /* 부드러운 배경색 전환을 위한 트랜지션 설정 */
    font-family: 'Noto Sans KR', sans-serif;
}

.next-button:hover { /* 마우스 가져갔을때 색상 변경하는 거!! */
    background-color: #df3b7a; 
}

.button-container-restart {
    height: 40px;
    border: 3px solid #ffacba;
    /* 수평 정렬 */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcc5ce;
    padding-right: 10px;
}

.restart-button {
    background-color: #e76da0; /* 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 기본 버튼 테두리 제거 */
    padding: 8px 16px; /* 보다 나은 외관을 위한 패딩 추가 */
    border-radius: 4px; /* 둥근 모서리 */
    cursor: pointer; /* 호버 시 포인터 커서 추가 */
    transition: background-color 0.3s ease; /* 부드러운 배경색 전환을 위한 트랜지션 설정 */
    font-family: 'Noto Sans KR', sans-serif;
}

.restart-button:hover { /* 마우스 가져갔을때 색상 변경하는 거!! */
    background-color: #df3b7a; 
}

/* 원래 .container{display: flex}랑  .content{flex:1}로 해가지고 */
/* 남는 공간을 content로 꽉 채우도록 했는데.... */
/* 2023, 2024.. 컨테이너들이 처음에 display:none으로 되어 있어서 */
/* 그게 영향을 미쳐서 intro말고는 flex가 기능을 못해가지고 */
/* 일단은 주석처리하고 height를 520.125(처음에 자동으로 꽉 채워줬을 때 높이)px로 */
/* 해줬습ㄴ디ㅏ....ㅠㅠ */