body {
    margin: 0;
    display: flex;
    /* container 수평 정렬 */
    justify-content: center;
    /* container 수직 정렬 */
    align-items: center;
    height: 100vh;
    background-color: #EFF0F2;
    font-family: 'Noto Sans KR', sans-serif;
}

.container h1 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #334557; /* 글자 색을 원하는 색상으로 변경 (예: 검은색) */
    /* 추가적인 스타일링 가능 */
}

.container p {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000000; /* 글자 색을 원하는 색상으로 변경 (예: 검은색) */
    /* 추가적인 스타일링 가능 */
}

/* 원래 길이 700, 450 */
.container {
    height:570px;
    width: 360px;
    background-color: #E5B299;
    text-align: center; /* 안에 요소 수평 정렬 */
    flex-direction: column;
    display: flex;
}

@media (min-width: 700px)
{
    .container {
        height: 700px;
        width: 450px;
    }
    #intro-text {
        margin-top: 40px;
        line-height: 35px; /* 줄 간격 주기 */
    }
    #manual-text {
        line-height: 35px; /* 줄 간격 주기 */
    }
}

.content {
    flex: 1;
    border : 6px solid;
    border-radius: 8px;
    border-color: #eecdbc;
    margin: 10px;
    background-color: #ffffff;
}

.button-intro-container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5B299;
    padding-right: 10px;
}

.button-container {
    height: 40px;
    /* 수평 정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5B299;
    padding-right: 10px;
    border-radius: 8px;
}

.next-button {
    background-color: #EFF0F2; /* 배경색 */
    color: #334557; /* 텍스트 색상 */
    border : 4px solid;
    border-radius: 8px;
    border-color: #eecdbc;
    padding: 8px 16px; /* 보다 나은 외관을 위한 패딩 추가 */
    cursor: pointer; /* 호버 시 포인터 커서 추가 */
    transition: background-color 0.3s ease; /* 부드러운 배경색 전환을 위한 트랜지션 설정 */
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
}

.next-button:hover { /* 마우스 가져갔을때 색상 변경하는 거!! */
    background-color: #c6c8cc; 
}

.button-container-restart {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5B299;
    padding-right: 10px;
}

input {
    font-size:16px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0.5px;
    margin-top : 50px;
    text-align: center;
  }

/* input 아래만 남기고 테두리 제거했는데, 클릭을 하면 테두리 전체가 다시 생김 */
/* 클릭했을 때도 테두리 안 생기게 하기 위해서 밑에 명령줄 추가 */
input:focus {outline: none;}

#loader {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loader span {
    margin-top: 1px;
    font-size: 16px;
}

#modalCloseButton {
    cursor: pointer;
}

#modalOpenButton {
    background-color: #E5B299; /* 배경색 */
    color: #000000; /* 텍스트 색상 */
    border : 4px solid;
    border-radius: 8px;
    border-color: #E5B299;
    padding: 8px 16px; /* 보다 나은 외관을 위한 패딩 추가 */
    cursor: pointer; /* 호버 시 포인터 커서 추가 */
    transition: background-color 0.3s ease; /* 부드러운 배경색 전환을 위한 트랜지션 설정 */
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  #modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  #modalContent {
    position: absolute;
    background-color: #777777;
    width: 300px;
    height: 300px;
    padding: 15px;
}
  
  #modalContainer.hidden {
    display: none;
  }